.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
width: 25%;
}

.searchBox{  
  width: 100%;
  border-radius: 8px;
  border: 1px solid grey;
  outline: none;
  text-align: center;
}


.boxBtn{
  margin-top: 15px !important;
   margin-left: 24% !important;
}


.resultTable{
  border: 1px solid grey;
  border-bottom: none;
  width: 55%;
  margin: 0px auto;
}

select{
  border: none;
  outline: none;
  margin-left: 35% !important;
  width: 11%;
}

